<h1>All the Listings</h1>
<br/>
<br/>
<% Category.all.each do |category| %>
    <h2><%= category.name %></h2>
    <br/>
    <% category.adverts.approved.each do |advert| %>
        <div class="advert">
          <h3>I want to sell my house</h3>
          <br/>
          <%= image_tag advert.image, class: "alignleft border" %>
          <%= advert.description %>
          <br/>
          <%= link_to "View details", advert %>
          <br/><br/>
        </div>
    <% end %>


    </div>

    <br/>
<% end %>