<h1>All the Listings</h1>
<br/>
<br/>
<h2>Real Estate</h2>
<br/>
<div class="advert">
  <h3>I want to sell my house</h3>
  <br/>
  <%= image_tag "img02.jpg", class: "alignleft border" %>
  I want to sell my house <br/>
  I want to sell my house <br/>
  I want to sell my house <br/>
  I want to sell my house <br/>
  I want to sell my house <br/>
  I want to sell my house <br/>
  I want to sell my house <br/>
  I want to sell my house <br/>
  <br/>
  <a>View details</a>
</div>


<div class="advert">
  <h3>I want to sell my house</h3>
  <br/>
  <%= image_tag "img02.jpg", class: "alignleft border" %>
  I want to sell my house <br/>
  I want to sell my house <br/>
  I want to sell my house <br/>
  I want to sell my house <br/>
  I want to sell my house <br/>
  I want to sell my house <br/>
  I want to sell my house <br/>
  I want to sell my house <br/>
  <br/>
  <a>View details</a>
</div>

<br/>
<br/>
<h2>Real Estate</h2>
<br/>
<div class="advert">
  <h3>I want to sell my house</h3>
  <br/>
  <%= image_tag "img02.jpg", class: "alignleft border" %>
  I want to sell my house <br/>
  I want to sell my house <br/>
  I want to sell my house <br/>
  I want to sell my house <br/>
  I want to sell my house <br/>
  I want to sell my house <br/>
  I want to sell my house <br/>
  I want to sell my house <br/>
  <br/>
  <a>View details</a>
</div>


<div class="advert">
  <h3>I want to sell my house</h3>
  <br/>
  <%= image_tag "img02.jpg", class: "alignleft border" %>
  I want to sell my house <br/>
  I want to sell my house <br/>
  I want to sell my house <br/>
  I want to sell my house <br/>
  I want to sell my house <br/>
  I want to sell my house <br/>
  I want to sell my house <br/>
  I want to sell my house <br/>
  <br/>
  <a>View details</a>
</div>