<h1>My Account</h1>
<br>
<br>
<h3>Manage Account</h3>
<br>
<%= link_to "Edit Account Details", edit_user_path(current_user) %>
<br>
<br>
<h3>Manage Adverts</h3>
<br>

<%= link_to "Add Advert" %>
<br>
<br>
<%= link_to "My Adverts", adverts_path %>
